.about {
  background: #f00;
  height: 100vh;
  width: 100%;
  transition: 2s easy-in-out;
  display: block;
}
.about #bird {
  height: 50%;
  max-width: 60%;
  margin: 20%;
  position: relative;
  transition: 2s easy-in-out;
  fill: #00f;
}
.about #bird #wing {
  transition: 2s easy-in-out;
  fill: #ffa500;
}
.about #bird:hover {
  transition: 2s easy-in-out;
  fill: #008000;
  transition: 2s easy-in-out;
}
.about #bird:hover #wing {
  transition: 2s easy-in-out;
  fill: initial;
  fill: #008000;
  transform-origin: 50% 50%;
  transform: rotate(4deg);
  transition-duration: fill 2s;
}
.about #bird .anime {
  transition: 2s easy-in-out;
  fill: #008000;
  transition: 2s easy-in-out;
}
.about #bird .anime #wing {
  transition: 2s easy-in-out;
  fill: initial;
  fill: #008000;
  transform-origin: 50% 50%;
  transform: rotate(4deg);
  transition-duration: fill 2s;
}
