body {
  background: #fff;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
#morph,
#lis {
  fill: #f00;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
#morph h1,
#lis h1 {
  font-size: 1.4em;
  margin: 10px 0;
  cursor: pointer;
}
#morph {
  top: 0%;
}
#lis {
  top: 100%;
}
.butt {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
  border-radius: 2px;
  width: 100px;
  height: 100px;
  background: #e53935;
  position: relative;
  margin: 50vh auto;
  z-index: 2;
  font-size: 26px;
  text-transform: capitalize;
  font-family: Arial;
}
.butt:hover {
  box-shadow: 0 2px 2px 3px rgba(0,0,0,0.3);
}
